@import './font.scss';

:root {
    --font-name: 'Gilroy';
    --main-blue: #22253B;
    --main-orange: #F15525;
    --main-white: #fff;
    --main-light-blue: #38BFF2;
    --tech-light-blue: #50C0FF;
    --tech-light-orange: #FF6F50;
    --tech-light-green: #4BD071;
    --tech-dark-blue: #5096FF;
    --tech-light-yellow: #FFB359;
    --tech-light-violet: #AF93FF;
    --copyright-gray: #8E8E8E;
    --body-color: rgb(235, 245, 248);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-name);
}

img {
    user-select: none !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--body-color);
}

.container {
    max-width: 1190px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-light-blue);
    border-radius: 50px;
}

.header__content-title {
    .bracket {
        color: var(--main-orange);

        .italic {
            color: var(--main-blue);
            font-style: italic;
            font-weight: 800;
        }
    }
}

text {
    color: var(--main-blue);
}

h1, h2, h3, 
h4, h5, h6 {
    color: var(--main-blue);
}

.orange-btn {
    max-width: max-content;
    background: transparent;
    border: 0;
    font-size: 17px;
    color: var(--main-white);
    font-weight: 500;
    padding: 15px 20px;
    display: flex;
    column-gap: 15px;
    background: var(--tech-light-orange);
    border-radius: 82px;
    cursor: pointer;
    transition: .4s;

    i {
        margin-top: 3.5px;
        font-size: 15px;
    }

    &:hover {
        background: var(--tech-light-blue);
    }
}

.content-2 {
    &-btn {
        i {
          font-size: 20px;
          margin-top: 1.5px;
        }
    }
}